/*{
  font-family: 'Montserrat', sans-serif;
} хуевое решение №1*/
body{
  background-image: url(../img/mainbg.png);
}
a{
  color: #EB5757;
}
p a {
  font-size: 16px;
  text-decoration: underline;
}
h3, h4, h5{
color: #0C3440;
font-family: Montserrat;
}
@media screen and (max-width: 1000px) {
  .hideme {
    visibility: hidden;
    display: none;
  }
  .sidemenu, .selector{
    display: block;
    text-align: center;
  }
}
.section{
  background-image: url(img/mainbg.png);
}
.container{
  max-width: 1300px;
  background-color: #fff;
}

.header{
  font-weight: bold;
  font-size: 40px;
  text-align: justify;
  text-transform: uppercase;
  line-height: 55px;
  color: #0C3440;
}
.headmenu{
font-family: Montserrat;
font-weight: 300;
font-size: 14px;
line-height: 28px;
text-align: right;
text-transform: uppercase;
}
.sidemenu{
   margin-bottom: 25px;
}
.sidemenu a{
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
}
.textblock{
  margin-left: 15px;
  margin-top:25px;
}
.otstup{
  margin-bottom: 40px;
}
.sml {
  color: #9FA2B1;
  font-style: normal;
font-weight: bold;
font-size: 11px;
text-transform: uppercase;
}
.headline{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: justify;
text-transform: uppercase;
color: #0C3440;
}
.headlinebig{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;
text-transform: uppercase;
color: #0C3440;
}
.headlinezg {
  font-style: normal;
  font-family: Montserrat;
font-weight: normal;
font-size: 12px;
line-height: 17px;
text-align: justify;
text-transform: uppercase;
color: #447D8D;
}
.headlinezgdata{
  font-style: normal;
font-family: Montserrat;
font-size: 14px;
line-height: 17px;
text-align: justify;
text-transform: uppercase;
color: #9FA2B1;
opacity: 0.8;
}
.headlinezgdata2{
  font-style: normal;
font-size: 14px;
line-height: 17px;
text-align: justify;
color: #4E6D76;
}
.text-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
font-size: 15px;
text-align: justify;
color: #0C3440;
margin-top: 10px;
}

.btn-my{
border-radius: 15px;
  border: 1px solid #EB5757;
  font-family: 'Montserrat', sans-serif;
  background: white;
  color: #EB5757;
  font-weight: bold;
font-size: 14px;
line-height: 17px;
text-align: justify;
text-transform: uppercase;

}
/*------------------------------------------------- До сюда сделал */
.anno{
  font-weight: 500;
font-size: 18px;
line-height: 24px;
color: #0C3440;
font-family: PT Serif;
text-align: justify;
}
.anno1{
  font-size: 18px;
line-height: 24px;
color: #4E6D76;
font-style: normal;
text-align: justify;

}
.selector{
  font-weight: 500;
font-size: 17px;
 line-height: 1.5;

}
.opa{
  opacity: 0.25;
}
.tal{
  text-align: right;
}
div img{
  margin-top: 30px;
}
.nomargin{
  margin-top:0;
  margin-left: -20px;
}
.faximile{
  font-family: PT Serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
color: #4E6D76;
margin-bottom: 50px;
}
.li-ne{
  border-bottom: 1px solid rgba(192,192,192,0.6);
font-family: Montserrat;
}
.li-da{
  border-left: 1px solid rgba(192,192,192,0.6);
}
.starz{
  text-align: center;
  color: #4E6D76;
  font-size: 25px;
  line-height: 50px;
}
.anotherlink{
  margin-top: 20px;
  font-size: 18px;
line-height: 22px;
text-transform: uppercase;
color: #EB5757;
}
.txtpodelu{
font-family: PT Serif;
font-style: italic;
font-weight: normal;
font-size: 18px;
line-height: 24px;
text-align: justify;
color: #0C3440;
}
.txtpodelu a{
color: #EB5757;
}
.prevuistatii{
  font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
text-transform: uppercase;
color: #0C3440;
text-align: justify;
}
.smllink{
font-size: 14px;
line-height: 17px;
text-align: justify;
color: #4E6D76;
}
.lest{
  margin-left: 20px;
}
.lest1{
  margin-left: 20px;
  margin-bottom: 20px;
}
.zagolovok{
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
text-align: justify;
text-transform: uppercase;
color: #0C3440;

}
.projecttext{
font-family: PT Serif;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 23px;
text-align: justify;
color: #0C3440;
}
.antherlink{
font-size: 14px;
line-height: 17px;
text-decoration-line: underline;
color: #EB5757;
text-align: right;
}
.podpis{
  font-family: PT Serif;
font-style: italic;
font-weight: normal;
font-size: 14px;
line-height: 35px;
color: #4E6D76;
text-align: center;
}
.tac{
  text-align: center;
}
.taj{
  text-align: justify;
}
.mto{
  margin-top: 0px;
}
.quote{
  font-family: PT Serif;
font-style: italic;
font-weight: normal;
font-size: 18px;
line-height: 24px;
text-align: justify;
color: #0C3440;
}
.yelbrdr{
  border-left: 5px solid #F5BD64;
}
.gdeopublikovano{
  font-family: PT Serif;
font-style: italic;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: #4E6D76;
}
.citata{
font-family: PT Serif;
font-style: italic;
font-weight: normal;
font-size: 15px;
line-height: 20px;
text-align: right;
color: #4E6D76;
}
.omne1{
  font-family: PT Serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: justify;
color: #0C3440;
}
.dscl{
font-family: PT Serif;
font-style: italic;
font-size: 16px;
line-height: 24px;
text-align: justify;
color: #0C3440;
margin-left: -25px;
}
.ftr a{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
text-transform: uppercase;
margin-left: -15px;
}
.ftr p{
  font-family: PT Serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
text-align: justify;
color: #4E6D76;
margin-left: -15px;
}
.eelmaname{
font-family: PT Serif;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
color: #0C3440;
}
.CCCR{
font-family: PT Serif;
font-style: italic;
font-weight: normal;
font-size: 16px;
line-height: 21px;
color: #4E6D76;
}
.anothertext{
font-family: PT Serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #4E6D76;
}
.anothertext a {
  text-decoration: underline;
}
.anotherheader{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
text-transform: uppercase;
color: #0C3440;
}
.poezdat{
font-family: PT Serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
color: #0C3440;
}
.fcknlink{
border: 1px dotted #4E6D76;
border-radius: 15px;
font-family: PT Serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
letter-spacing: -0.01em;
}
.poezdatsml{
font-family: PT Serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
color: #0C3440;
}
.hnya{
  display: inline-block;
  vertical-align: middle;
  font-family: PT Serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
color: #4E6D76;
}
.anthertext{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #0C3440;
}
.bignum{
font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 59px;
text-align: justify;
text-transform: uppercase;
color: #FF7B6F
}
.smlnum{
font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 30px;
text-align: justify;
color: #4E6D76;
margin-left: 25px;
}
.text488{
font-family: PT Serif;
font-style: italic;
font-weight: normal;
font-size: 16px;
line-height: 21px;
text-align: justify;
color: #4E6D76;
}
